# Sensitive / secrets
chevah/github_hooks_server/tests/private.py
config-secrets.ini

.gitsecret/keys/pubring.gpg~
.gitsecret/keys/random_seed

# Generic ignore.
.noseids
*.py[co]
build/
dist/
virtualenv/
venv/
*.egg-info/
twistd.log

# Python
poetry.lock

# NodeJS
node_modules/
package-lock.json
local.settings.json

# Serverless deployable package
.serverless/
