# git-secret protected file.
chevah/github_hooks_server/tests/private.py

.gitsecret/keys/pubring.gpg~
.gitsecret/keys/random_seed

# Generic ingore.
.noseids
*.py[co]
build/
dist/
virtualenv/
venv/
*.egg-info/
build/
twistd.log

# Python
poetry.lock

# NodeJS
node_modules/
package-lock.json
local.settings.json

# Serverless deployable package
.serverless/
