[github_hooks_server]

# Leave empty to not have a secret.
github-hook-secret =

# Mandatory GitHub access token with "triage" permissions.
# The account of the token must be a member of the organization
# to be able to see teams.
# DO NOT USE QUOTES around the password.
github-token =
